footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.5));
    padding-bottom: 10px;


    h1 {
        text-align: center;
        color: white;
        font-size: 2em;
        font-family: 'Lato', sans-serif;
        letter-spacing: 5px;
        border-bottom: solid 1px rgb(0, 255, 242);
        font-weight: 600;
    }

    div {
        display: flex;
        justify-content: space-around;

        div {
            a {
                text-decoration: none;
                color: white;
            }

            img {
                width: 30px;
                height: 30px;
            }

            &:hover {
                a {
                    color: white;
                }

                .soc-byn {
                    display: none;
                }

                .soc-color {
                    display: block;
                }
            }
        }
    }
    @media only screen and (max-width:768px){
        .soc-byn {
            display: none;
        }

        .soc-color {
            display: block;
        }
    }
}

.soc-color {
    display: none;
}